<p-toolbar styleClass="mb-6">
    <p-toast></p-toast>
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedEntities()"
            [disabled]="!selectedEntities || !selectedEntities.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table [value]="entities" [lazy]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
    (onLazyLoad)="loadEntities($event)" [globalFilterFields]="['name', 'nameAr', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedEntities" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entities" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">

    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Entities</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th><p-tableHeaderCheckbox /></th>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{ col.header }}</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template #body let-entity>
        <tr>
            <td><p-tableCheckbox [value]="entity" /></td>
            <td>{{ entity.id }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.nameAr }}</td>
            <td>
                <ng-container *ngIf="entity.activities?.length > 0; else noAct">
                    <p-tag *ngFor="let act of entity.activities" severity="info" class="mr-1 mb-1" [value]="act.name">
                    </p-tag>
                </ng-container>
                <ng-template #noAct>
                    <span>No Activities</span>
                </ng-template>
            </td>
            <td>{{ entity.created_at | date:'short' }}</td>
            <td>{{ entity.updated_at | date:'short' }}</td>
            <td>
                <p-tag [severity]="entity.status === 1 ? 'success' : 'danger'"
                    [value]="entity.status === 1 ? 'Active' : 'Inactive'" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" 
                    (click)="editEntity(entity)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" 
                    (click)="deleteEntity(entity)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="entityDialog" [style]="{ width: '600px' }" header="entity Details" [modal]="true">
    <ng-template #content>
        <div class="grid grid-cols-2 gap-6" [formGroup]="entityForm">
            <div class="mb-4">
                <label for="activity" class="block font-bold mb-3">Select Activities</label>
                <p-multiselect appendTo="body" [options]="activities" [filter]="true" optionLabel="name"
                    optionValue="id" placeholder="Activities" [maxSelectedLabels]="3" class="w-full"
                    formControlName="activityIds" />
            </div>

            <div class="mb-4">
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select appendTo="body" [options]="status" optionLabel="name" optionValue="id" placeholder="Status"
                    class="w-full" required formControlName="status" />
            </div>

            <div class="mb-4">
                <label for="name" class="block font-bold mb-3">Name (English)</label>
                <input class="w-full" type="text" pInputText id="name" required autofocus formControlName="name" />
            </div>

            <div class="mb-4">
                <label for="nameAr" class="block font-bold mb-3">Name (Arabic)</label>
                <input class="w-full" type="text" pInputText id="nameAr" required formControlName="nameAr" />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [disabled]="entityForm.invalid" (click)="saveEntity()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />