:root {
    --j-primary-color: rgb(32, 42, 90) !important;
    // --p-primary-contrast-color: red;

    --primary-color: var(--j-primary-color) !important;
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--j-primary-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);
}

:root {
    --j-primary-50: rgb(78, 95, 192);
    --j-primary-100: rgb(63, 78, 168);
    --j-primary-200: rgb(55, 69, 146);
    --j-primary-300: rgb(46, 58, 126);
    --j-primary-400: rgb(40, 51, 110);
    --j-primary-500:rgb(32, 42, 90);
    --j-primary-600: rgb(28, 36, 77);
    --j-primary-700: rgb(25, 32, 68);
    --j-primary-800:rgb(20, 26, 58);
    --j-primary-900:rgb(15, 20, 49);
    --j-primary-950: rgb(12, 18, 49);


    --p-transition-duration: 0.2s;
    --p-disabled-opacity: 0.6;
    --p-icon-size: 1rem;
    --p-anchor-gutter: 2px;
    --p-overlay-navigation-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --p-overlay-modal-border-radius: var(--p-border-radius-xl);
    --p-overlay-modal-padding: 1.25rem;
    --p-overlay-modal-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --p-overlay-popover-border-radius: var(--p-border-radius-md);
    --p-overlay-popover-padding: 0.75rem;
    --p-overlay-popover-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --p-overlay-select-border-radius: var(--p-border-radius-md);
    --p-overlay-select-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --p-navigation-submenu-icon-size: 0.875rem;
    --p-navigation-submenu-label-padding: 0.5rem 0.75rem;
    --p-navigation-submenu-label-font-weight: 600;
    --p-navigation-item-padding: 0.5rem 0.75rem;
    --p-navigation-item-border-radius: var(--p-border-radius-sm);
    --p-navigation-item-gap: 0.5rem;
    --p-navigation-list-padding: 0.25rem 0.25rem;
    --p-navigation-list-gap: 2px;
    --p-mask-transition-duration: 0.15s;
    --p-content-border-radius: var(--p-border-radius-md);
    --p-list-padding: 0.25rem 0.25rem;
    --p-list-gap: 2px;
    --p-list-option-group-padding: 0.5rem 0.75rem;
    --p-list-option-group-font-weight: 600;
    --p-list-option-padding: 0.5rem 0.75rem;
    --p-list-option-border-radius: var(--p-border-radius-sm);
    --p-list-header-padding: 0.5rem 1rem 0.25rem 1rem;
    --p-form-field-padding-x: 0.75rem;
    --p-form-field-padding-y: 0.5rem;
    --p-form-field-border-radius: var(--p-border-radius-md);
    --p-form-field-transition-duration: var(--p-transition-duration);
    --p-form-field-focus-ring-width: 0;
    --p-form-field-focus-ring-style: none;
    --p-form-field-focus-ring-color: transparent;
    --p-form-field-focus-ring-offset: 0;
    --p-form-field-focus-ring-shadow: none;
    --p-form-field-lg-font-size: 1.125rem;
    --p-form-field-lg-padding-x: 0.875rem;
    --p-form-field-lg-padding-y: 0.625rem;
    --p-form-field-sm-font-size: 0.875rem;
    --p-form-field-sm-padding-x: 0.625rem;
    --p-form-field-sm-padding-y: 0.375rem;
    --p-primary-50: var(--j-primary-50) !important;
    --p-primary-100: var(--j-primary-100) !important;
    --p-primary-200: var(--j-primary-200) !important;
    --p-primary-300: var(--j-primary-300) !important;
    --p-primary-400: var(--j-primary-400) !important;
    --p-primary-500: var(--j-primary-500)!important;
    --p-primary-600: var(--j-primary-600)!important;
    --p-primary-700: var(--j-primary-700)!important;
    --p-primary-800: var(--j-primary-800)!important;
    --p-primary-900: var(--j-primary-900)!important;
    --p-primary-950: var(--j-primary-950)!important;
    --p-focus-ring-width: 1px;
    --p-focus-ring-style: solid;
    --p-focus-ring-color: var(--p-primary-color);
    --p-focus-ring-offset: 2px;
    --p-focus-ring-shadow: none;
    --p-navigation-submenu-icon-color: var(--p-surface-400);
    --p-navigation-submenu-icon-focus-color: var(--p-surface-500);
    --p-navigation-submenu-icon-active-color: var(--p-surface-500);
    --p-navigation-submenu-label-background: transparent;
    --p-navigation-submenu-label-color: var(--p-text-muted-color);
    --p-navigation-item-focus-background: var(--p-surface-100);
    --p-navigation-item-active-background: var(--p-surface-100);
    --p-navigation-item-color: var(--p-text-color);
    --p-navigation-item-focus-color: var(--p-text-hover-color);
    --p-navigation-item-active-color: var(--p-text-hover-color);
    --p-navigation-item-icon-color: var(--p-surface-400);
    --p-navigation-item-icon-focus-color: var(--p-surface-500);
    --p-navigation-item-icon-active-color: var(--p-surface-500);
    --p-list-option-group-background: transparent;
    --p-list-option-group-color: var(--p-text-muted-color);
    --p-list-option-focus-background: var(--p-surface-100);
    --p-list-option-selected-background: var(--p-highlight-background);
    --p-list-option-selected-focus-background: var(--p-highlight-focus-background);
    --p-list-option-color: var(--p-text-color);
    --p-list-option-focus-color: var(--p-text-hover-color);
    --p-list-option-selected-color: var(--p-highlight-color);
    --p-list-option-selected-focus-color: var(--p-highlight-focus-color);
    --p-list-option-icon-color: var(--p-surface-400);
    --p-list-option-icon-focus-color: var(--p-surface-500);
    --p-overlay-modal-background: var(--p-surface-0);
    --p-overlay-modal-border-color: var(--p-surface-200);
    --p-overlay-modal-color: var(--p-text-color);
    --p-overlay-popover-background: var(--p-surface-0);
    --p-overlay-popover-border-color: var(--p-surface-200);
    --p-overlay-popover-color: var(--p-text-color);
    --p-overlay-select-background: var(--p-surface-0);
    --p-overlay-select-border-color: var(--p-surface-200);
    --p-overlay-select-color: var(--p-text-color);
    --p-content-background: var(--p-surface-0);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-border-color: var(--p-surface-200);
    --p-content-color: var(--p-text-color);
    --p-content-hover-color: var(--p-text-hover-color);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
    --p-form-field-background: var(--p-surface-0);
    --p-form-field-disabled-background: var(--p-surface-200);
    --p-form-field-filled-background: var(--p-surface-50);
    --p-form-field-filled-hover-background: var(--p-surface-50);
    --p-form-field-filled-focus-background: var(--p-surface-50);
    --p-form-field-border-color: var(--p-surface-300);
    --p-form-field-hover-border-color: var(--p-surface-400);
    --p-form-field-focus-border-color: var(--p-primary-color);
    --p-form-field-invalid-border-color: var(--p-red-400);
    --p-form-field-color: var(--p-surface-700);
    --p-form-field-disabled-color: var(--p-surface-500);
    --p-form-field-placeholder-color: var(--p-surface-500);
    --p-form-field-invalid-placeholder-color: var(--p-red-600);
    --p-form-field-float-label-color: var(--p-surface-500);
    --p-form-field-float-label-focus-color: var(--p-primary-600);
    --p-form-field-float-label-active-color: var(--p-surface-500);
    --p-form-field-float-label-invalid-color: var(--p-form-field-invalid-placeholder-color);
    --p-form-field-icon-color: var(--p-surface-400);
    --p-form-field-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
    --p-mask-background: rgba(0, 0, 0, 0.4);
    --p-mask-color: var(--p-surface-200);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: #ffffff;
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-surface-0: #ffffff;
    --p-surface-50: var(--p-slate-50);
    --p-surface-100: var(--p-slate-100);
    --p-surface-200: var(--p-slate-200);
    --p-surface-300: var(--p-slate-300);
    --p-surface-400: var(--p-slate-400);
    --p-surface-500: var(--p-slate-500);
    --p-surface-600: var(--p-slate-600);
    --p-surface-700: var(--p-slate-700);
    --p-surface-800: var(--p-slate-800);
    --p-surface-900: var(--p-slate-900);
    --p-surface-950: var(--p-slate-950);
}
