<app-floating-configurator />
<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">

                    <img src="/imgs/jusour-logo.svg" alt="" width="300" class="m-auto">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Welcome to Mustaqel
                        Admin!</div>
                    <span class="text-muted-color font-medium">Sign in to continue</span>
                </div>

                <form [formGroup]="loginForm">
                    <label for="email1"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                    <input pInputText id="email1" type="text" autocomplete="off" placeholder="Email address"
                        class="w-full md:w-120 mb-8" formControlName="email" />

                    <label for="password1"
                        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" autocomplete="off" placeholder="Password" [toggleMask]="true"
                        styleClass="mb-4" [fluid]="true" [feedback]="false" formControlName="password" [maxlength]="64"
                        [minlength]="8">
                        <ng-template #header>
                            <div class="font-semibold text-xm mb-4">{{'Reset Password' }}</div>
                        </ng-template>
                        <ng-template #footer>
                            <p-divider />
                            <ul class="pl-2 my-0 leading-normal">
                                <li>{{'At least one lowercase' }}</li>
                                <li>{{'At least one uppercase' }}</li>
                                <li>{{'At least one special character' }}</li>
                                <li>{{'At least one numeric' }}</li>
                                <li>{{'Minimum 8 characters'}}</li>
                            </ul>
                        </ng-template>
                    </p-password>

                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                        <!-- <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Forgot password?</span> -->
                    </div>
                    <p-button [type]="'submit'" [label]="'Submit'" styleClass="w-full" [disabled]="loginForm.invalid"
                        (onClick)="login()" />
                </form>
            </div>
        </div>
    </div>
</div>