<div class="grid grid-cols-12 gap-4">
    <!-- <app-stats-widget class="contents" /> -->
     <div class="col-span-12  ">
        <app-bars-widget/> 
     </div> 
     <!-- <div class="col-span-4">
        <app-talent-widget />
     </div> -->
    <div class="col-span-12 ">
        <!-- <app-recent-sales-widget /> -->
        <!-- <app-best-selling-widget /> -->
        <app-revenue-stream-widget title="Investor" />
        
    </div>
    <div class="col-span-12 xl:col-span-6 hidden">
        <app-revenue-stream-widget title="Entrepreneur" />
        <!-- <app-notifications-widget /> -->
         <!-- <app-reporting-graph /> -->
    </div>
</div>