<p-toolbar styleClass="mb-6">
    <p-toast></p-toast>
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedCategories()"
            [disabled]="!selectedCategories || !selectedCategories.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table #dt
    [value]="categories"
    [lazy]="true"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    (onLazyLoad)="loadCategories($event)"
    [globalFilterFields]="['name', 'nameAr', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCategories"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} categories"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">

    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Categories</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th><p-tableHeaderCheckbox /></th>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{ col.header }}</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template #body let-category>
        <tr>
            <td><p-tableCheckbox [value]="category" /></td>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.nameAr }}</td>
            <td>{{ category.created_at | date:'short' }}</td>
            <td>{{ category.updated_at | date:'short' }}</td>
            <td>
                <p-tag [severity]="category.status === 1 ? 'success' : 'danger'"
                    [value]="category.status === 1 ? 'Active' : 'Inactive'" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editCategory(category)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteCategory(category)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="categoryDialog" [style]="{ width: '600px' }" header="Category Details" [modal]="true">
    <ng-template #content>
        <div class="grid grid-cols-2 gap-6" [formGroup]="categoryForm">
            <div class="mb-4">
                <label for="name" class="block font-bold mb-3">Name (English)</label>
                <input class="w-full"  type="text" pInputText id="name" required autofocus formControlName="name" />
            </div>

            <div class="mb-4">
                <label for="nameAr" class="block font-bold mb-3">Name (Arabic)</label>
                <input class="w-full"  type="text" pInputText id="nameAr" required  formControlName="nameAr"/>
            </div>

            <div class="mb-4">
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select appendTo="body" [options]="status" optionLabel="name" optionValue="id" 
                    placeholder="Status" class="w-full" required  formControlName="status"/>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [disabled]="categoryForm.invalid" (click)="saveCategory()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />